<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    {% if env == 'development' %}
      <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    {% else %}
      <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"></script>
  </head>

  <body>
    <div id="app">
      <span v-if="connected"> 
        <room :name="name" :players="players" :observers="observers" :finished="finished"/>
      </span>
      <span v-else>
        <input-name @enter="enter"/>
      </span>
    </div>

    <script src="static/index-vue3.js"></script>
  </body>
</html>