<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/index.css">
    <script src="https://unpkg.com/vue@3"></script>
  </head>

  <body>
    <div id="app">
      <span v-if="connected"> 
        <room :name="name" :players="players" />
      </span>
      <span v-else>
        <input-name @enter="enter"/>
      </span>
    </div>

    <script>
      Vue.createApp({
        components: {
          'InputName': Vue.defineAsyncComponent( () => import('./static/components-vue3/input-name.js')),
          'Room': Vue.defineAsyncComponent( () => import('./static/components-vue3/room.js'))
        },
        data: () => {
          return {
            connected: false,
            name: '',
            players: []
          }
        },
        methods: {
          enter: function(name) {
            this.name = name;
            this.connected = true;
          },
        }
      }).mount('#app')
    </script>
  </body>
</html>